<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Art. 04 -iwv</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Cabin|Josefin+Sans:400,700'>
  
  <link rel="stylesheet" type="text/css" href="static/css/style.css"> 
</head>

<body>
<!-- header -->
<div class="page">
  <div class="page-title">
    <p style="text-indent: 0pt;text-align: left;"><br/></p><p class="s1" style="padding-left: 99pt;text-indent: 0pt;text-align: center;">Serie divulgativa TELESALUD Y TELEMEDICINA.</p><p class="s1" style="padding-left: 99pt;text-indent: 0pt;text-align: center;">Art.04/ junio 2022</p>
  </div>
  <ul class="page-nav">
    <li><a href="/" class="page-nav-link" >Inicio</a>

  </ul>
  
  <div class="ie-separator" role="presentation"></div>
  
  <div class="article-meta">
    <div class="article-meta-author-portrait">
      <img src="./static/img/person.png" alt="Article Author David profile picture" />
    </div>
    <div class="article-meta-author">Escrito por David H. López Pérez</div>
    <div class="article-meta-date">Julio, 2022</div>
  </div>
<!-- body article --> 

  <div class="article" role="document">
    <h2>1.4 La salud Digital y la Información en Salud</h2>
    
      
<p> En este punto de la serie Telesalud y Telemedicina, nos vamos a acercar a la definición de “Salud Digital”, para abordar este concepto es necesario precisar también el papel de información en salud como elemento angular de los desarrollos tecnológicos y avances en el diagnóstico, tratamiento, prevención de la enfermedad, así como la educación y promoción de la salud.</p>

<h3> Salud Digital </h3>

<p>La Salud Digital, está definida por la OMS como el campo del conocimiento y la práctica relacionados con el desarrollo y la utilización de las tecnologías digitales para mejorar la salud [1], así mismo las tecnologías digitales son aquellas que utilizan las señales electrónicas para comunicar, almacenar y procesar información digital, 
  esta información digital son datos codificados normalmente en un sistema binario. El gran avance del siglo XXI consiste en el desarrollo de las Tecnologías de Información y comunicación, las cuales integran señales analógicas y digitales en una sola red de comunicación, haciendo posible la convergencia de video, voz y datos en dispositivos cada vez más accesibles a la población, como son hoy los teléfonos inteligentes que utilizan el protocolo de internet. </p>

      <figure> <img  src="static/img/smartphonedata.png" class="padding-left article-img3" alt="usuarios smartphone" /><figcaption>Usuarios de Smartphone en el mundo (Fuente. Statista 2022).</figcaption></figure>
      <figure> <img  src="static/img/datadigital.png" class="padding-left article-img3" alt="usuarios tic" /><figcaption>Relación de la población global y uso de dispositios y servicios digitales.</figcaption></figure>
    
      <p>Como hemos visto en el artículo anterior “la salud, el Servicio”, los sistemas de Salud de todos los estados en general necesitan urgentemente fortalecer la accesibilidad a los servicios de salud; los costos, los limites en la cobertura y los problemas presupuestarios del estado, hacen que la salud pública dependa de la innovación tecnológica para reducir tanto la brecha en  el acceso a la salud, como las externalidades que profundizan esta desigualdad y actúan como determinantes sociales de la salud. </p>
      
      <p> Con el objetivo de hacer realidad la visión de salud para todos, la ONU en cabeza de la OMS ha desarrollado la estrategia salud digital 2020-2025, la visión de esta estrategia se centra en el acceso equitativo y universal a los servicios sanitarios de calidad, en coherencia con la carta internacional de los derechos humanos y los objetivos de desarrollo sustentable (ODS, 2030). A través de la innovación tecnológica se pretende lograr el incremento de la eficiencia y sostenibilidad que fortalecerá la promoción de la salud, los servicios de prevención, diagnóstico, tratamiento, rehabilitación y cuidados paliativos.</p>
<p>La innovación tecnológica propuesta en la estrategia “Salud Digital”, impulsa en los sistemas de salud públicos y privados un tratamiento interoperable de la información sanitaria, con el objetivo de facilitar la investigación en salud, así como la colaboración interinstitucional e intersectorial para el mejoramiento de los servicios, además, la interoperabilidad propuesta en esta estrategia enfatiza en que los datos sanitarios deben tratarse con un elevado nivel de seguridad al tratarse de información personal respetando la privacidad y seguridad de la información que contienen las bases de datos. </p>
<h3> La información en salud y la historia clínica interoperable. </h3>
<p> La historia clínica es el documento que contiene la sensible y valiosa información sanitaria de cada persona, en el caso del sistema de salud pública es el estado quien se compromete a garantizar el acceso, integridad y disponibilidad de los datos personales contenidos en bases de datos digitales que reposan en el sistema de información. En los servicios privados de salud, cada empresa debe garantizar el cumplimiento del tratamiento de los datos personales de cada usuario acorde a la normativa vigente. </p>
<p> El desarrollo de la interoperabilidad interinstitucional e intersectorial de la historia clínica se enfoca en facilitar la continuidad asistencial y mejorar los diagnósticos médicos, las decisiones terapéuticas y ampliar los conocimientos basados en la evidencia.  </p>
<p> En el caso particular de España, la interoperabilidad de la historia clínica en los servicios de atención primaria es limitada por las administraciones regionales, ya que, el sistema de la carpeta de salud digital personal, solo ofrece información resumida de la historia 
  clínica y el acceso a esta información solo es posible desde la red del sistema de salud provincial o autonómico, además, el acceso del usuario a sus datos personales, está limitado por su acceso a identificadores digitales ante las administraciones públicas, como el certificado electrónico, el DNIe o el sistema Cl@ve <a id="nota1" href="#footnote-1">[1]</a>, los cuales requieren recursos tecnológicos y destreza en el manejo de dispositivos como los ordenadores personales (Personal Computer-PC), esta barrera se refleja en la baja adherencia que evidencian las estadísticas oficiales del uso del DNIe y otros certificados digitales que vemos en el siguiente gráfico.  </p>

<figure> <img  src="static/img/totaldniecert.png" class="padding-left article-img3" alt="total ususarios DNIe" /><figcaption>Total nacional ususarios DNIe y certificados.</figcaption></figure>
<figure> <img  src="static/img/dniecert.png" class="padding-left article-img3" alt="ususarios dnie-cert" /><figcaption>Comparativa usuarios DNIe y otros certificados electrónicos.</figcaption></figure>
    
<p> A pesar de estas limitaciones y barreras, hasta la fecha se han logrado algunos avances en materia de interoperabilidad nacional, como es el caso de la receta electrónica que da acceso en todo el territorio nacional  al suministro de medicamentos recetados en el sistema público.</p>
<p>A nivel interestatal la Unión Europea ha constituido uno de los mayores desarrollos de servicios electrónicos transfronterizos, la infraestructura de servicios digitales de sanidad electrónica (eHDSI), supone una garantía para los ciudadanos europeos cuando circulan por los diferentes países de la UE, interoperando la información médica y de las recetas con otros países de la Unión europea <a id="nota2" href="#footnote-2">[2]</a>.</p>
<p>El avance en la interoperabilidad de los datos responde a la particular visión de la sanidad electrónica en la UE <a id="nota3" href="#footnote-3">[3]</a>, la cual está constituida por los siguientes pilares:</p>
<li> Acceso e intercambio de datos seguros</li>
<li>Conectar y compartir datos sanitarios para la investigación, el diagnóstico más rápido y la mejora de la salud</li>
<li> Reforzar la capacitación de los ciudadanos y la atención individualizada mediante servicios digitales.</li>

<p>Esta visión de la Unión Europea corresponde a la estrategia para la transición digital de Europa hacia un mercado único digital y es una de las prioridades para la Comisión Europea en el periodo 2019-2024, la asistencia digital en salud hace parte fundamental de esa adaptación a la era digital y a la consolidación de su soberanía digital al respecto de otros estados que son potencias económicas y tecnológicas. </p>
<h3> Protección de la información y los datos personales </h3>
<p>Al tratarse de datos personales, el manejo de los datos que contiene la historia clínica electrónica/digital debe cumplir con los más altos estándares de seguridad informática, como los establecidos en el Reglamento (UE) 2016/679 del Parlamento Europeo relativo a la protección de las personas físicas. Al respecto de la historia clínica la legislación española regula mediante la ley 41/2002, el uso (art.16), conservación (art.17) y derecho de acceso a la historia clínica (art.18), además existe la ley orgánica 3/2018, para la protección de Datos personales y garantía de derechos digitales.  </p>
<p>Para cumplir con los principios de seguridad de la información digital, es necesario la implementación de estándares internacionales al respecto como lo son la serie ISO/IEC 27000, en la cual se recogen </p>

<h3> Protección de la información y los datos personales </h3>
<p>Al tratarse de datos personales, el manejo de los datos que contiene la historia clínica electrónica/digital debe cumplir con los más altos estándares de seguridad informática, como los establecidos en el Reglamento (UE) 2016/679 del Parlamento Europeo relativo a la protección de las personas físicas. Al respecto de la historia clínica la legislación española regula mediante la ley 41/2002, el uso (art.16), conservación (art.17) y derecho de acceso a la historia clínica (art.18), además existe la ley orgánica 3/2018, para la protección de Datos personales y garantía de derechos digitales.  </p>
<p> Para cumplir con los principios de seguridad de la información digital exigidos en la legislación, es necesario la implementación de estándares internacionales de calidad como la serie ISO/IEC 27000, en la cual se recogen los requisitos para establecer, implantar, mantener y mejorar un sistema de gestión de seguridad de la información (SGSI) garantizando disponibilidad, integridad y confidencialidad de la información que estará expuesta a la red de internet y a las amenazas que puedan generar las vulnerabilidades de las instituciones y empresas encargadas de preservar el historial clínico del paciente. </p>


<h3>Conclusiones</h3>
<p>El actual paradigma de la información nos enfrenta a la tarea de fortalecer los sistemas de información como el activo más valioso de una empresa, ya que para el desarrollo e innovación de los servicios actualmente es necesario un procesamiento cada vez más eficaz de los datos, utilizando el protocolo de internet para lograr accesibilidad universal en la oferta al mercado de nuestros productos y servicios, en el sector de la salud se ha evidenciado que las prioridades políticas son coherentes con el concepto de sostenibilidad y eficiencia económica que obliga a los prestadores de servicios a la innovación tecnológica como elemento de crecimiento y la salud digital por lo tanto, el elemento angular en la estrategia global del cambio a una cobertura universal de la seguridad social y los servicios en salud. </p>
<p>Queda claro entonces que el primer paso en el desarrollo de un modelo de salud digital, supone la implementación de un sistema de gestión seguro de la información para  el tratamiento de los datos sensibles de la historia clínica, ya que, la interoperabilidad de los sistemas de información es parte fundamental en el desarrollo del conocimiento científico en salud, la continuidad asistencial y los procesos de rehabilitación, promoción de la salud y prevención de la enfermedad.</p>

<p> Así mismo, la interoperabilidad y accesibilidad de la información en salud es el mayor reto que nos reflejan los datos, teniendo en cuenta que el actual modelo de servicios web dependen de factores como la usabilidad de los interfaces web y elementos de seguridad y acreditación de la identidad utilizados por las administraciones públicas; como evidencian las estadísticas oficiales, la baja adherencia al uso de la identificación digital certificada por las administraciones públicas en el caso del DNIe y certificado electrónico suponen una barrera, ya que el acceso a dispositivos tecnológicos de alta complejidad como ordenadores personales y smartphone es amplio entre la población.</p>
<p> Para finalizar, es necesario destacar que la información personal de salud, por lo general está aislada en cada institución y no es accesible para los usuarios, ya que las carpetas de salud que ofrecen las administraciones públicas solo muestran archivos con una descripción del motivo de consulta y la fecha, junto a la receta electrónica, haciendo de la disponibilidad y la integralidad de la información sean los elementos que con mayor urgencia deben ser abordados por las propuestas de innovación tecnológica al respecto de la historia clínica digital. </p>

       

    <h3>Referencias</h3>
    <ol>
    <li id="footnote-1"><a href="#nota1">&uarr;</a>El sistema Cl@ve, El DNIe y el certificado digital, son herramientas para la identificación del ciduadano ante las administraciones públicas españolas. <a href="https://clave.gob.es/clave_Home/clave.html" target="_blank">https://clave.gob.es/clave_Home/clave.html</a>   <a href="https://www.sede.fnmt.gob.es/certificados/persona-fisica">https://www.sede.fnmt.gob.es/certificados/persona-fisica</a> <a href="https://www.dnielectronico.es/PortalDNIe/">https://www.dnielectronico.es/PortalDNIe/</a></li> 
    <li id="footnote-2"><a href="#nota2">&uarr;</a>Los servicios electrónicos sanitarios transfronterizos de la Unión Europea se encuentran listados aquí: <a href="https://health.ec.europa.eu/ehealth-digital-health-and-care/electronic-cross-border-health-services_es " target="_blank"> https://health.ec.europa.eu/ehealth-digital-health-and-care/electronic-cross-border-health-services_es </a> </li>
    <li id="footnote-3"><a href="#nota3">&uarr;</a>	Visión general de la sanidad electrónica europea consulta aquí : <a href="https://health.ec.europa.eu/ehealth-digital-health-and-care/overview_es " target="_blank"> https://health.ec.europa.eu/ehealth-digital-health-and-care/overview_es </a></li>
    
  </ol>  
    
      <h3>Bibliografia</h3>
    <p></p>
    <ol>
      <li>Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales</li>
      <li>Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales. </li>   
      <li>REGLAMENTO (UE) 2016/679 DEL PARLAMENTO EUROPEO Y DEL CONSEJO de 27 de abril de 2016 relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos y por el que se deroga la Directiva 95/46/CE 
        </li>
      <li>	ISO. (02 de 11 de 2013). ISO27000. Obtenido de: <a href="http://www.iso27000.es/download/doc_iso27000_all.pdf " target="_blank">http://www.iso27000.es/download/doc_iso27000_all.pdf </a>	</li> 
                  
        </ol>

    
</div>
<div class="article-quote">"El debate sobre la sanidad continua girando en torno a tres cuestiones distintas y algo contrapuestas: los excesivos costes, la limitada cobertura de los seguros y los problemas presupuestarios que tiene el Estado para proporcionar asistencia sanitaria, Stiglitz Joseph E. (2000), pág. 345"</div>
<div class="article-footer">
  <div>(c) 2022, Derechos de autor y propiedad intelectual</div>
</div>
</div>
<div class="footer">
<div class="footer-about">
  <h5>Sobre nosotros</h5>
  <p>IWV Telesalud blog, es una plataforma para la publicación de información relacionada con la salud digital, se realizan asesorías de usabilidad en proyectos para la digitalización y el desarrollo web</p>
</div>
<div class="footer-contact">
  <h5>Contacto</h5>
  <p>telesalud.iwv@gmail.com</p>
  <p>España</p>
  <p>Toledo, España</p>
</div>
<div class="footer-logos">
  <img src="static/img/logo.png" />
  
</div>
</div>
<!-- partial -->

</body>
</html>
